
main {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

footer {
    text-align: center;
}