body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
}
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

nav{
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem; 

}
nav a{
    text-decoration: none;
    color: white;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 1 rem;
}
section{
    background-color: #ecf0f1;
    padding: 1rem;
}
aside{
    background-color: #bdc3c7;
    padding: 1rem;
}
footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
}